<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Gaddit</title>
   <%- include('partials/head.ejs') %>
    
  
    
  <body>
    <h1>Post index page</h1>
    <a href="/posts/new">Create a New post</a>
    
    <div class="container">

        <div class="row">
    
          
          <div class="col-md-8">
    
      <% for(let i = posts.length-1; i >= 0 ; i--){ %>
      <div class="container " >
          <div class="row">
            <div class="col-xl-">
              <div class="card h-100">
                <div class="card-body">
                  <h6 class="card-title ">
                    <a href="#"><%=posts[i].sub; %></a><span class="text-muted"> posted by <a href="/users/<%=posts[i].poster.id;%>">
                      <%=posts[i].poster.username; %>
                    </a></span>
                  </h6>
                  <h4 class="card-subtitle"><%=posts[i].title; %></h4>
                  <p class="card-text">
                      <%=posts[i].content; %>
                  </p>
                  <a href="#"
                    ><a href="/posts/<%=posts[i].id;%>"><img class="card-img-top" style="max-width: 40%;" src="<%=posts[i].img; %>" alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <%- include('partials/sidebar.ejs') %>
       
      </div>
      <!-- /.row -->
      
      </div>
      <!-- /.container -->
  </body>

</html>