<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Gaddit</title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <% for(let i = user.posts.length-1; i >= 0 ; i--){ %>
      <div class="container " >
          <div class="row">
            <div class="col-xl-">
              <div class="card h-100">
                <div class="card-body">
                  <h6 class="card-title ">
                    <a href="#"><%=user.posts[i].sub; %></a><span class="text-muted"> posted by <a href="/posts/<%=posts[i].id;%>">
                      <%=user.posts[i].poster.username; %>
                    </a></span>
                  </h6>
                  <h4 class="card-subtitle"><%=user.posts[i].title; %></h4>
                  <p class="card-text">
                      <%=user.posts[i].content; %>
                  </p>
                  <a href="#"
                    ><a href="/posts/<%=user.posts[i].id;%>"><img class="card-img-top" style="max-width: 40%;" src="<%=user.posts[i].img; %>" alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
  </body>
</html>
