<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Post Show Page</h1>
    <%= post.poster %> <br />
    <%= post.title %> <br />
    <%= post.sub %> <br />
    <%= post.img %> <br />
    <%= post.content %> <br />
    <%= post.comments %> <br />
    <%= post.likes %> <br />
  </body>

  <a href="/posts/<%=post.id; %>/edit">Edit</a>

  <nav>
    <a href="/posts">Back to posts Index</a>
  </nav>
</html>
