<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <h1>
      <% if(currentUser) { %>
        Welcome <%=currentUser.username%>!
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout" class="waves-effect waves-light btn"/>
      </form>
      </h1>
      
      <% } else { %>
        <h2>Please </h2>
        <a class="waves-effect waves-light btn" href="/users/new">Sign Up</a></h2>
        <h3>or</h3>
        <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>
      <% } %>
  </head>
  <body>
    <h1>User Show Page</h1>
    <%= sUser.username %> has the following items: <br />
    <% for (i=0;i < sUser.shopping_cart.length;i++) { %> <%=
    sUser.shopping_cart[i].name %> <br />
    <%=sUser.shopping_cart[i].description %> <br />
    <%=sUser.shopping_cart[i].img %> <%=sUser.shopping_cart[i].price %> <br />
    <%=sUser.shopping_cart[i].qty %> <%}%> <br />
  </body>
</html>
