<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Gaddit</title>

    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <h1>Post Show Page</h1>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="container ">
            posted by
            <a href="/users/<%=post.poster._id;%>">
              <%=post.poster.username; %> </a
            ><br />
            <%= post.title %> <br />
            <%= post.sub %> <br />
            <img src="<%= post.img %>" alt="post image" class="card-img-top" />
            <br />
            <%= post.content %> <br />
            <% for (i=0;i< post.comments.length;i++) { %> <%= post.comments[i]
            %> <br />
            <%}%> <%= post.likes %> <br />

            <% if( currentUser) { %> <% if(currentUser.username ===
            post.poster.username) { %>
            <a href="/posts/<%=post.id; %>/edit">Edit</a>
            <form
              form
              action="/posts/<%=post.id; %>?_method=DELETE"
              method="POST"
            >
              <input type="submit" value="DELETE" />
            </form>

            <% } %> <% } %>

            <form
              form
              action="/posts/<%=post.id%>/comment?_method=PUT"
              method="POST"
            >
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment</label>
                <textarea
                  class="form-control"
                  rows="3"
                  name="newComments"
                ></textarea>
              </div>
              <input type="submit" name="" value="Submit Comment" />
            </form>
          </div>
        </div>
        <%- include('partials/sidebar.ejs') %>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </body>
</html>
